extends layout

block content
	h2 Cropped Images
	
	p Horizonatally Cropped image
	img(src=links.horizontal)

	p Vertically Cropped image
	img(src=links.vertical)

	p Small horizontal image
	img(src=links.small_horizontal)

	p Gallery image
	img(src=links.gallery)
